block content
  // Responsive navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      img.img-thumbnail(src='/images/book.png' alt='book icon' width='40' height='32')
      a.navbar-brand.px-3(href='/') !{title}
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
              li.nav-item
                  a.nav-link(href='/') Home
              li.nav-item
                  a.nav-link(href='/about') About
              li.nav-item
                  a.nav-link(href='/contact') Contact
          
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
              if user 

                .dropdown
                  button.btn.btn-danger.dropdown-toggle.dropbtn(onclick='myFunction()') !{user.username}
                  #myDropdown.dropdown-content
                    a(href='#') Settings
                    a(href='/logout') Logout

              else 
                li.nav-item.px-1
                  a.btn.btn-outline-success.s-4(href='/login' tabindex='-1' role='button' aria-disabled='true') Login
                li.nav-item.px-1
                  a.btn.btn-outline-secondary(href='/login/register' tabindex='-1' role='button' aria-disabled='true') Register
