block banner 
  // Page header with logo and tagline
  .jumbotron.header.py-5.bg-light.border-bottom.mb-0
    .container.py-5
      .text-center.my-5
        h1#d.fw-bolder !{welcomeMsg}
        p.lead.mb-0 !{welcomeDesc}


block searchBar
  |