block collections
  // Collections widget
  .card.mb-4
      .card-header Collection
      .card-body               
          ul.list-group.list-group-flushed.mb-0
              li.list-group-item 
                  a(href='/catalog/books') Books
              li.list-group-item
                  a(href='/catalog/authors') Authors
              li.list-group-item
                  a(href='/catalog/genres') Genres