extends layout 

append head 
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css', integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==', crossorigin='')
  // Make sure you put this AFTER Leaflet's CSS
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js', integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==', crossorigin='')

  


block main
  if errors
    ul
      for error in errors
        li!= error.msg

  .container.pb-5
    .row
        .col-lg-8
          block map 
            .map-container
            // Location map 
            h2.pb-2 Branch Locations
            #mapid
        
          block locations
            h2.pt-4.pb-2 List of Branches
            table.table
              thead
                tr.table-active
                  th(scope='col') Address
                  th(scope='col') Hours
                  th(scope='col') Phone
              tbody
                tr
                  td 123 fhf
                  td 9:00 am - 8:00 pm
                  td jgdfg
                  
                tr
                  td 134 dsdf
                  td 9:00 am - 4:30 pm
                  td slf
                tr
                  td 2234
                  td Closed
                  td fjd
                
                  

        .col-lg-4
          block contactInfo
            h2 Customer Service Hours
            table.table
              thead
                tr.table-active
                  th(scope='col') Days
                  th(scope='col') Hours
              tbody
                tr
                  td Monday - Friday
                  td 9:00 am - 8:00 pm
                tr
                  td Saturday
                  td 9:00 am - 4:30 pm
                tr
                  td Sunday
                  td Closed


            hr.solid.my-4
            // Contact info
            h2 Call 
            p 111-111-1111
            p If you are a TTY user, you can also call us using TTY Relay Service (711).
            
            hr.solid.my-4
          
          block contactForm
            h2 Email 
            form(method='POST' action='')
              .form-group.pb-4
                label(for='name') Name 
                  label.text-danger (required)
                input#inputName.form-control(type='name', aria-describedby='nameContact' value='testername' name='name')
              .form-group.pb-4
                label(for='email') Email 
                  label.text-danger (required)
                input#inputEmail.form-control(type='email', aria-describedby='emailContact' value='a@a.com' name='email')
              .form-group.pb-2
                label(for='libary_card') Library Card Number 
              small#accHelp.form-text.text-muted (required only for account related inquiries)
                input#inputAcc.form-control(type='number', aria-describedby='accContact' value='12345678' name='library_card')
              .form-group.py-4
                label(for='message') Message 
                  label.text-danger (required)
                textarea#messageFormControlTextarea.form-control(rows='3' name='message')
              button.btn.btn-primary(type='submit') Submit

  script(src='/javascripts/map_scripts.js')