block contactForm
  if message
    .alert.alert-success.alert-dismissible.fade.show(role='alert')
      strong Thank you for contacting us.
      |  We have received your message and will contact you within 2 business days.
      #contactMessage.button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') &times;

  h2 Email 
  form(method='POST' action='')
    .form-group.pb-4
      label(for='name') Name 
        label.text-danger (required)
      input#inputName.form-control(type='name', aria-describedby='nameContact' value='testername' name='name')
    .form-group.pb-4
      label(for='email') Email 
        label.text-danger (required)
      input#inputEmail.form-control(type='email', aria-describedby='emailContact' value='a@a.com' name='email')
    .form-group.pb-2
      label(for='libary_card') Library Card Number 
    small#accHelp.form-text.text-muted (required only for account related inquiries)
      input#inputAcc.form-control(type='number', aria-describedby='accContact' value='12345678' name='library_card')
    .form-group.py-4
      label(for='message') Message 
        label.text-danger (required)
      textarea#messageFormControlTextarea.form-control(rows='3' name='message')
    button.btn.btn-primary(type='submit') Submit
