block featured
  // Featured book of the month
  .card.mb-5.pb-5
      a(href=featuredBook.url)
        img.featured-book-img.card-img-top(src='/images/book_cover.png', alt='book cover image')
      .card-body
          .small.text-muted January 1, 2021
          h2.card-title Featured Book of the Month: !{featuredBook.title}
          p.card-text Summary: !{featuredBook.summary}
          a.btn.btn-primary(href=featuredBook.url) Explore more →