extends layout

block content
  div#register.container
    div: form(method='POST', class='form-vertical')
      fieldset
        legend: strong.text-info Register page
        
        div.form-group
          label Username:
          input.form-control(name='username', autofocus, value='qwertyui')

        div.form-group
          label Password:
          input.form-control(name='password', type='password' value='password123')

        div.form-actions
          input.btn.btn-primary(type='submit', value='Register')

      
