block searchBar
  // Search bar
  nav.navbar.navbar-light.bg-light.p-5.mb-5
    .container-fluid.d-flex.justify-content-center.mt-0
      form.search-bar.d-flex
        input.navbar.form-control(type='search' placeholder='Search for books, movies, & more' aria-label='Search')
        button.btn.btn-outline-primary.mx-4(type='submit') Search