.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.jumbotron {
  background-image: url('../images/banner.jpg');
  background-size: cover;
  height: 100%;
}

.search-bar {
  width: 60%;
};

